# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# Flask uploads
static/uploads/*
!static/uploads/.gitkeep

